header {
    background: rgb(3, 103, 166);
    padding: 10px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 10px;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Klavika';
}

nav a:hover {
    background-color: green;
    text-decoration: underline;
}

.product {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.product li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 10px 10px;
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(3, 103, 166);
    border-radius: 10px;
}

.product li:hover {
    border-color: green;
}

.product li:active {
    border-color: rgb(242, 5, 159);
}

.product h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Klavika';
}

.product li:hover h2 {
    font-size: 35px;
}

.productDescribe {
    font-size: 18px;
    font-family: "Klavika";
}

.productPrice {
    font-family: "Klavika";
    font-size: 22px;
    font-weight: normal;
    margin-top: 10%;
}

footer {
    text-align: center;
    background: url(images/bg.jpg);
    color: white;
    padding: 40px 0;
    font-family: "Klavika";
}

main {
    font-family: Klavika;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0px;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 2s all;
    cursor: pointer;
}

.enviar:hover {
    background: red;
    transform: scale(1.2);
}

table {
    margin: 20px 0px 40px;
}

thead {
    background: blue;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid blue;
    padding: 8px 15px;
}

/* css da página inicial */

.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal {
    padding: 3em;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}
.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: linear-gradient(#888888, black);
}

.conteudo-beneficios {
    width: 940px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    text-align: center;

}

.itens {
    line-height: 2;
}

.itens::before {
    content: "\2713";
}

.itens:first-child {
    font-weight: bold;
}

.imagem_beneficios {
    width: 50%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px black;
}

.imagem_beneficios:hover {
    opacity: 0.3;;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

footer {
    clear: both;
}

.video {
    width: 560px;
    margin: 2em auto;
}

/*

Seletores avançados

Seletor >, para acessar os filhos de determinado elemento. Por exemplo, para acessar todos os p dentro de main:

main > p {
    background-color: red;
}

Seletor +, para acessar o primeiro irmão de determinado elemento. Por exemplo, para acessar o primeiro p após um img:

img + p {
    background: blue;
}

Seletor ~, para acessar todos os irmãos de determinado elemento. Por exemplo, para acessar todos os p após um img:

img ~ p {
    background: yellow;
}

Seletor not, para acessar os elementos, exceto algum. Por exemplo, para acessar todos os p dentro de main, exceto o p que tem id missao:

.principal p:not(#missao){
    background: orange;
}
*/